<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NinsTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TrayBuddy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <NinsTool.Properties.Settings>
            <setting name="aswMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bitrateMbps" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Notifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Guardian" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Key" serializeAs="String">
                <value />
            </setting>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="Enable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PricePaid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProcessPriority" serializeAs="String">
                <value>normal</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sharpening" serializeAs="String">
                <value>quality</value>
            </setting>
            <setting name="autoLaunchSteamVR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="proxSensor" serializeAs="String">
                <value>False</value>
            </setting>
        </NinsTool.Properties.Settings>
        <TrayBuddy.Properties.Settings>
            <setting name="Guardian" serializeAs="String">
                <value>True</value>
            </setting>
        </TrayBuddy.Properties.Settings>
    </userSettings>
</configuration>